<div ng-controller="QuestionsController as QC">

<div ng-init = "UC.session()">
  <h1>Welcome {{UC.user.name}}</h1>
  <a href = '/#!/postQuest' >Post a Question</a>
  <a href = "#" ng-click = "UC.logout()" >Logout</a>
</div>


  <table ng-init = "QC.index()">
    <tr><th>Questions |</th><th> Actions</th></tr>
    <tr ng-repeat="question in QC.questions track by $index">
      <td>{{question.question}}</td>
      <td><button ng-click="QC.showQuestion(question._id)">Show</button></td>
      <td><button ng-click= "QC.answerQuest(question._id)">Answer Question</button></td>
    </tr>
  </table>


  </div>
